<div class='container' ng-controller='AboutController as about'>
    <div class='about-intro animated fadeIn'>
        <h1>About me:</h1>
    </div>
    <section class='about-me-section col-md-10 col-xs-12 animated fadeIn'>
        <h2>My Toolbox:</br>
        <small>&nbsp;&nbsp;Front-end</small></h2>
        <ul>
            <h3><li>HTML5</li>
                <li>Vanilla JS/ES6</strong>, jQuery, and AngularJS(1.x)</li>
                <li>SASS, LESS, CSS3</li>
                <li>Bootstrap, Semantic UI</li>
        </ul></h3>
        <h2><small>&nbsp;&nbsp;Back-end</small></h2>
        <ul>
            <h3><li>Express</li>
                <li> NodeJS</li>
            <li>MongoDB</li></h3>
        </ul>
        <h2><small>&nbsp;&nbsp;Tools</small></h2>
        <ul>             
            <h3><li> Gulp (but sometimes Grunt), Browserify</li></h3>
        </ul>
        <h2>My Toybox:</br>
            <ul>
               <h3><li>Angular2</li>
                <li>Typescript</li>
                <li>Python</li>
                <li>SQL</li>
                <li>Koa</li>
                <li>React</li></h3>
            <h3>If you would like to know more, <a ui-sref='contact'>get in touch</a> with me. I'd love to hear from you.</h3>
    </section>
</div>