<div class='container' ng-controller='AboutController as about'>
    <div class='intro animated fadeIn'>
        <h2>About me:</h2>
    </div>
    <section class='about-me-section'>
        <h4>I am a web developer living around Minneapolis, MN.</h4>
        <h4>My favorite tools:
        <small>
            <ul >
                <li class='tool-types'>the front-end trinity</li>
                <ul>
                    <li>HTML5</li>
                    <li>CSS3</li>
                    <li>JS</li>
                </ul>
                <li>Dev Tools</li>
                    <ul>
                        <li>Gulp</li>
                        <li>Browserify</li>
                    </ul>
                        
                
    </section>
</div>