<div class='container-fluid' ng-controller='MainController as main'>
    <h1 class='intro'>{{main.introMessage}}</h1>
    <div class='row'>
        <div class='project text-center col-sm-6 col-xs-12'>
            <h3>Wikipedia Viewer</h3>

           
        </div>
        <div class='project text-center col-sm-6 col-xs-12'>
            <h3>Twitch TV Status Watcher</h3>
           
        </div>
    </div>
    
     <div class='row col-sm-12 projects'>
        <div class='project text-center col-sm-6 col-xs-12'>
            <h3>Wikipedia Viewer</h3>

        </div>
        <div class='project text-center col-sm-6 col-xs-12'>
            <h3>Twitch TV Status Watcher</h3>
           
        </div>
        
    </div>


</div>