<div class='container' ng-controller='MainController as main'>
    <h1 class='intro'>{{main.introMessage}}</h1>
    <div class='row project-row' ng-repeat='piece in main.frontEndPieces'>
        <div class='project col-md-push-1 col-md-5 col-sm-6 col-xs-push-1 col xs-10'>
            <div>
                <h3>{{piece.left.title}}<small><br/> => {{piece.left.description}}</small></h3>
                <a ui-sref={{piece.left.sref}}>
                    <div class='project-preview-container' id={{piece.left.id}} style='background-image: {{piece.left.backgroundImage}}'>
                    </div>
                </a>
            </div> 
        </div> 
        <div class='project col-md-push-1 col-md-5 col-sm-6 col-xs-push-1 col xs-10'>
            <h3>{{piece.right.title}} <small><br/> => {{piece.right.description}}</small></h3>
            <a ui-sref={{piece.right.sref}}>
                <!--<div class='overlay'> TO BE IMPLEMENTED-->
                <div class='project-preview-container' id={{piece.right.id}} style='background-image: {{piece.right.backgroundImage}}'>
                </div>
                <!--</div> END OVERLAY DIV: TO BE IMPLEMENTED-->
            </a>
        </div>
    </div>


    <div class='row project-row' ng-repeat='piece in main.backEndPieces'>
        <div class='project col-md-push-1 col-md-5 col-sm-6 col-xs-push-1 col xs-10'>
            <div>
                <h3>{{piece.left.title}} <small><br/> => {{piece.left.description}}</small></h3>
                <a ui-sref={{piece.left.sref}}>
                    <div class='project-preview-container' id={{piece.left.id}}>
                    </div>
                </a>
            </div>
        </div>
        <div class='project col-md-push-1 col-md-5 col-sm-6 col-xs-push-1 col xs-10'>
            <h3>{{piece.right.title}} <small><br/> => {{piece.right.description}}</small></h3>
            <a ui-sref={{piece.right.sref}}>
                <div class='project-preview-container' id={{piece.right.id}}>
                </div>
            </a>
        </div>
    </div>
</div>