<div class='container' ng-controller='AboutController as about'>
    <div class='intro animated fadeIn'>
        <h2>About me:</h2>
    </div>
    <section class='about-me-section col-md-10 col-xs-12'>
        <h2>I am a web developer living around Minneapolis, MN.</h2>
        <h4>In short, I am an autodidact, googling myself into a new career. I am immersed in the open-source Javascript community, with all of its awesomeness and warts.</h4>
        <p>I love working with Javascript from front to back:
            <ul>
                <li><strong>Vanilla JS/ES6</strong>, jQuery, and AngularJS(1.x) up front</li>
                <li> NodeJS, Express, MongoDB in the back</li>
                <li>Gulp, Browserify, (and sometimes Grunt) for automation.</li>
            </ul>
        </p>

        <p>I often use Bootstrap, and have played around with Foundation.</p>
        <p>But I also have worked with PHP, SQL, and Python.</p>
        <p>And I'm starting to play around with Angular2, Koa, and React.</p>
        <h3>If you would like to know more, <a ui-sref='contact'>get in touch</a> with me. I'd love to hear from you.</h3>



    </section>
</div>