<div class='container' ng-controller='ContactController as contact'>
    <div class='about-intro animated fadeIn'>
        <h1>{{contact.introMessage}}<br/>
        <small name='portfolio'>{{contact.introMessageSub}}</small>
        </h1>
        <h1>Hiring? I'd love to hear from you!
           </br><small>Not hiring? Well....I guess you can contact me too.</small>
        </h1>
        <div class='contact-imgs'>
            <a href='http://www.github.com/BenjaminDowns'>
                <img src='https://assets-cdn.github.com/images/modules/logos_page/Octocat.png'></img>
            </a>
            <a href='mailto:benjamin.downs@gmail.com'>
                <img src='/assets/images/gmail.png'></img>
            </a>
                        <a href='https://twitter.com/AutomatonBen'>
                <img src='/assets/images/twitter.png'></img>
            </a>
        </div>

    </div>
</div>