<div class='container' ng-controller='MainController as main'>
    <h1 class='intro'>{{main.introMessage}}</h1>
    <div class='row'>
        <div class='project col-md-push-1 col-md-5 col-sm-push-2 col-sm-8'>
            <div>
                <h3>Wikipedia Viewer</h3>
                <!--<a ui-sref='wiki'>-->
                    <div class='project-preview-container' id='wikipedia-container'>
                    </div>
                <!--</a>-->
            </div>
        </div>
        <div class='project col-md-push-1 col-md-5 col-sm-push-2 col-sm-8'>
            <h3>Twitch TV Status Watcher</h3>
            <a ui-sref='wiki'>
            <div class='project-preview-container' id='twitch-container'>
            </div>
            </a>

        </div>
    </div>

    <div class='row col-sm-12 projects'>
        <div class='project col-md-push-1 col-md-5 col-sm-push-2 col-sm-8'>
            <h3>Wikipedia Viewer</h3>

        </div>
        <div class='project col-md-push-1 col-md-5 col-sm-push-2 col-sm-8'>
            <h3>Twitch TV Status Watcher</h3>

        </div>

    </div>


</div>